.position-sticky {
    position: sticky !important;
}

.cursor {
    cursor: pointer;
}

.clear {
    list-style: none;
}

.clear li {
    margin: 2px !important;
}

.footer-icon {
    background-color: #0d6efd;
    color: white;
    border-radius: 50%;
    padding: 15px;
}

/* Dashboard media query */
@media (max-width: 992px) {
    .footer-icon {
        background-color: #0d6efd;
        color: white;
        border-radius: 50%;
        padding: 7px !important;
    }
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar:hover {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.081);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(97, 88, 88, 0.348);
    border-radius: 20px;
}

/* dashboard */
#side_nav {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

#sidebarMenu {
    /* min-width: 250px;
    max-width: 250px; */
    transition: all 0.3s;
}

.content {
    min-height: 100vh;
    width: 100%;
}

.navbar-nav .active {
    background-color: #fff;
    border-radius: 8px;
    color: #0d6efd !important;
    padding: 5px;
}

.close-btn {
    display: none;
}

.slimnav {
    display: block;
    transition: all 0.3s;
}

@media(max-width: 992px) {
    #side_nav {
        margin-left: -500px;
        position: fixed !important;
        min-height: 100vh;
        z-index: 1;
    }

    .close-btn {
        display: block;
    }

    .slimnav {
        display: none;
    }

    #side_nav.active {
        margin-left: 0;
    }

    #sidebarMenu {
        margin-left: -500px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }

    #sidebarMenu.active {
        margin-left: 0;
        width: 30%;

    }

    .menu_end {}
}

.bignav {
    display: none !important;
    transition: all 0.3s;
}

.smallnav {
    display: block !important;
    transition: all 0.3s;
}

.brround {
    border-radius: 50%;
}

.notification {
    list-style-type: none;
    padding: 0;
    /* position: relative; */
}

.notification>li {
    /* position: relative; */
    min-height: 50px;
    /* padding: 15px 0; */
}

.notification .notification-body {
    box-shadow: 0px 8px 16px rgb(0 0 0 / 3%);
    /* margin-left: 25%;
    margin-right: 18%; */
    background: #fff;
    /* position: relative; */
    padding: 14px 20px;
    border-radius: 6px;
}
.notification-body {
    box-shadow: 0px 8px 16px rgb(0 0 0 / 3%);
    background: #fff;
    position: relative;
    padding: 14px 20px;
    border-radius: 6px;
}
.notification .notification-icon {
    left: 15%;
    position: absolute;
    width: 10%;
    text-align: center;
    top: 41px;
}

.notification .notification-time .time {
    line-height: 24px;
    font-size: 21px;
    color: #8f8fb1;
}

.notification .notification-time .date,
.notification .notification-time .time {
    display: block;
    font-weight: 500;
}

.media-body,
.media-left,
.media-right {
    display: block;
}

.media-body {
    zoom: 1;
    overflow: hidden;
    width: auto;
    -ms-flex: 1;
    flex: 1;
}


.media img {
    border-radius: 4px;
}

.media img {
    width: 40px;
    height: 40px;
    border-radius: 7px !important;
}

.notification .notification-icon a {
    text-decoration: none;
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    line-height: 10px;
    color: #fff;
    font-size: 14px;
    border: 3px solid #0d6efd;
    transition: border-color 0.2s linear;
}

.notification .notification-body:before {
    content: "";
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-right-color: #fff;
    left: -20px;
    top: 25px;
}
.cursor{
    cursor: pointer !important;
}
.day{
    font-weight: 600;
}
.time{
    font-weight: 600;
}

.notification-icon a {
    text-decoration: none;
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    line-height: 10px;
    color: #fff;
    font-size: 14px;
    border: 3px solid #0d6efd;
    transition: border-color 0.2s linear;
}
